<div *ngIf="profile">
    <div class="w3-panel w3-blue w3-round-xlarge">
        <div class="w3-panel heading">
            {{profile.name}} <large>{{profile.login}}</large>
           <div class="panel-body">
               <div class="row">
                   <div class="col-sm-4">
                       <img src="{{profile.avator_url}}" class="profile-picture"> 
                   </div>
                   <div class="list">
                       <ul>
                           <li *ngIf="profile.bio">{{profile.bio}}</li>
                           <li *ngIf="profile.company">{{profile.company}}</li>
                           <li *ngIf="profile.website"><a href="{{profile.website}}" target="_blank">{{profile.website}}</a></li>
                           <li *ngIf="profile.twitter"><a href="{{profile.twitter}}" target="_blank">{{profile.twitter}}</a></li>
                           <li *ngIf="profile.location">{{profile.location}}</li>
                           <li *ngIf="profile.email"><a href="{{profile.email}}" target="_blank">{{profile.email}}</a></li>

                       </ul>
                   </div>
                   <div class="card">
                       <p>
                           <span class="label label-default">{{profile.followers}} Followers</span>
                           <span class="label label-success">{{profile.following}} Followings</span>
                           <span class="label label-info">{{profile.public_gists}} public Gists</span>
                           <span class="label label-primary">{{profile.public_repos}} Public Repositories</span>
                           <span class="label label-primary">{{profile.followers}} Followers</span>
                       </p>
                       <div>
                           <p><button><a href="{{profile.html_url}}" target="_blank" class="btn btn-danger"></a>View GitHub Profile</button></p>
                       </div>
                       <div class="panel-heading">
                           <h1>Repositories</h1>
                       </div>
                       <div class="panel-body" *ngIf="let repository of repositories">
                           <p>
                             {{repository.name}} <a href ="{{repository.html_url}}" target="_blank" class="btn btn-primary">View More Details on GitHub</a>
                           </p>
                       </div>
                       <div>
                           <p>
                               {{repository.description}}
                           </p>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div> 