<div class="form-group">
  <form>
    <input type="text" name="search" class="search-box" placeholder="Search    GitHub User..."
    [(ngModel)]="username" name="username" (keypress)="getProfile()">
  </form>
</div>
<div class="user-profile">
  <div *ngIf="profile">
    <div class="row">
        <div class="col-sm-5"><br>
      <img src="{{profile.avatar_url}}"  class="Profile_picture">
    </div>
  </div>
  </div>
    <div>
        <h2>{{profile.name}}</h2> ({{profile.login}})
        <h2><span *ngIf="profile.company"> Currently Working at {{profile.company}}</span></h2>
        <h2>{{profile.location}} </h2>
      </div>
        <div class="list">
          <ul>
            <li class="list-group-item list-group-item-success" *ngIf="profile.bio">Bio: {{profile.bio}}</li>
            <li class="list-group-item list-group-item-success" *ngIf="profile.hireable">Available for hire: {{profile.hireable}}</li>
            <li class="list-group-item list-group-item-success" *ngIf="profile.twitter_username" >Twitter🔵 : <a href="{{profile.twitter_username}}">{{profile.twitter_username}}</a></li>
            <li class="list-group-item list-group-item-success" *ngIf="profile.blog" ><a href="{{profile.blog}}">{{profile.blog}}</a></li>
            <li class="list-group-item list-group-item-success" *ngIf="profile.email"><a href="{{profile.email}}">{{profile.email}}</a></li>
          </ul>
        </div>
      </div><br>
   
        <div class="col-md-6">
            <div>
              <br><br>
            <p>
              <span class="btn btn-success"> Followers: {{ profile.followers }} </span> 

              <span class="btn btn-info"> Following: {{ profile.following }}</span>

              <span class="btn btn-primary"> Public-gists:  {{ profile.public_gists}}</span>

              <span class="btn btn-danger"> Repositories: {{ profile.public_repos }}</span>
            </p>
            <div>
           <p><a href="{{profile.html_url}}" target="_blank"><button  class="btn btn-primary"> View Profile on GitHub</button> </a></p>
           
             <div class="heading">
               <h4><b>Repositories</b></h4>
             </div>
             <br>
             <div *ngFor="let repo of repos">
               <div class="row">
                 <div class="column">
               <p>
                 {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-danger" target="_blank">View the Repo on GitHub</a>
               </p>
             </div>
             </div>
           </div>
           </div>
          </div>
          </div>
