
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
.git-details{
  word-spacing: 3px;
}


  input[type=text]:focus {
    width: 100%;
  }
  .Profile_picture{
      height: 250px;
      width: 250px;
      border-radius: 50%;
  }

.green-background {
    background-color: green;
  }
  
  .yellow-background {
    background-color: yellow;
  }
  
  .red-background {
    background-color: red;
  }
  .blue-background {
    background-color: blue;
  }
  .form-group{
      padding-top: 20px;  
  }

.panel{
  columns: 2;
}
h4{
color: blue;
font-size: xx-large;
font-weight: bold;
float: left;
}
.profile{
  text-align: center;
  background-color: rgb(193, 209, 240);
  background-repeat: no-repeat;
  background-size: cover;
}

.col-sm-5{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar{
  color: darkgray;

}









  @import "~bootstrap/dist/css/bootstrap.css"